{{/* Legend panel explaining tile types and their effects. */}}
<div class="gb__panel gb__legend-panel">
  <div class="gb__panel-title">{{ i18n "legend_title" }}</div>
  <div class="gb__legend">
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--goose"></span>
      {{ i18n "legend_goose" }}
    </div>
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--bridge"></span>
      {{ i18n "legend_bridge" }}
    </div>
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--inn"></span>
      {{ i18n "legend_inn" }}
    </div>
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--well"></span>
      {{ i18n "legend_well" }}
    </div>
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--maze"></span>
      {{ i18n "legend_maze" }}
    </div>
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--prison"></span>
      {{ i18n "legend_prison" }}
    </div>
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--death"></span>
      {{ i18n "legend_death" }}
    </div>
    <div class="gb__legend-item">
      <span class="gb__legend-dot gb__legend-dot--goal"></span>
      {{ i18n "legend_goal" }}
    </div>
  </div>
</div>
